# Игнорируем виртуальное окружение
venv/

# Игнорируем базы данных
*.sqlite3
pgdata/

# Игнорируем настройки IDE
.idea/
.vscode/

# Игнорируем временные файлы
*.log

# Игнорируем файлы с миграциями, которые не используются
*.pyc
__pycache__/
